.form {
    background-color: #d6e3c7;
    width: 70vw;
    margin: 70px auto 0;
    padding: 50px 30px;
}

.form-input {
    width: 100%;
    margin-bottom: 20px;
}

/* .form-textarea {
    width: 100%;
    margin-bottom: 20px;
} */

.form-btn {
 margin: 50 px auto 20px;
 width: 250px;
}