.form {
    background-color: #d6e3c7;
    width: 70vw;
    margin: 70px auto 0;
    padding: 50px 30px;
    border-radius: 5px;
}

.input-group {
    display: flex;
    justify-content: space-between;
}

.input-group > div {
    width: 44%;
}

.form-input {
    display: block;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 40px;
    height: 40px;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 0 5px;
}

.form-textarea {
    height: 100px;
}

.form-btn {
    margin: 50 px auto 20px;
    width: 250px;
    line-height: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: indianred;
    border: none;
    outline: none;
    color: white;
}

label {
    float: left;
    margin-bottom: 10px;
}